# Scala-IDE specific
/wordStorm/project/
/wordStorm/target/
/dataScavenger/project/
/dataScavenger/target/
/project/project/
/project/target/
/target/
/logs/

# IDEA specific
subProjectOne/.idea
/.idea
